@model ItemViewModel
@{
    ViewData["Title"] = "Products";
}
<style>
    th {
        cursor: pointer;
    }

    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Products</h2>
    </div>
    @if (Model.Role == "Admin")
    {
    <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
            Add
        </a>
    </div>
    }
</div>

<table class="table table-bordered table-striped" style="width:100%" id="myTable2">
    <thread>
        <tr>
            <th class="unselectable">
                Name
            </th>
            <th class="unselectable">
                Price
            </th>
            <th class="unselectable">
                Amount
            </th>
            @if (Model.Role == "Admin")
            {
                <th class="unselectable">
                    Delete/Edit
            </th>
            }
        </tr>
    </thread>
    <tbody>
        @foreach (var obj in Model.Items)
        {
            <tr>
                <td width="10%">
                    @obj.Name
                </td>
                <td width="10%">
                    @obj.Price$
                </td>
                <td width="10%">
                    @obj.Amount
                </td>
                @if (Model.Role == "Admin")
                {
                    <td width="10%">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" class="btn btn-primary" asp-route-id="@obj.ID">
                                Edit
                            </a>
                        </div>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Delete" class="btn btn-danger" asp-route-id="@obj.ID">
                                Delete
                            </a>
                        </div>
                </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
   
</script>